body {
  background-color:#8c8c8c
}
aside {
    
  background-color:#669999 ;
    color: black;
    float:right; 
    position: absolute;
    right: 0;
    margin-right: 6%;

}


p {
    
  background-color: #142739;
    color: white;
    margin-right: 40%;
    float: left;

}

