aside{
    background-color: white;
    color: black;
    float:right; 
    position: fixed;
    right: 0;
    margin-right: 6%;
}

p{
    background-color: white;
    color: black;
    margin-right: 40%;
    float: left;
}

